.OrderSum{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin-bottom: 25px;
}
.OrderSum-resultWord{
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.OrderSum-resultPrice{
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: underline;
  text-transform: uppercase;
}