.WorkExampleList{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1024px;
  max-height: 650px;
  margin-top: 5vh;
  gap:15px;
}

.row-elem{
  height: 310px;
  width: 320px;
  flex-grow: 1;
}
.row-elem:hover{
  cursor: pointer;
}
.row-elem img{
  box-shadow: rgba(51, 51, 51, 0.7) 4px 4px 16px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: brightness(90%);
}
@media screen and (max-width:1024px) {
  .WorkExampleList{
    max-width: 768px;
  }
  .row-elem{
    height: 300px;
    width: 30%;
    flex-grow: 1;
}}
@media screen and (max-width:768px) {
  .WorkExampleList{
    max-width: 540px;
  }
  .row-elem{
    height: 210px;
    width: 45%;
    flex-grow: 0;
}}
@media screen and (max-width:540px) {
  .WorkExampleList{
    max-width: 375px;
  }
  .row-elem{
    height: 210px;
    width: 48%;
    flex-grow: 0;
}}
@media screen and (max-width:375px) {
  .WorkExampleList{
    max-width: 375px;
  }
  .row-elem{
    height: 125px;
    width: 65%;
    flex-grow: 0;
}}