.CalculateAndOrder{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: no-repeat url(../../images/order.jpg) center/cover;
  width: 100vw;
  height: 100vh;
}
.CalculateAndOrderContent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin-top: 5vh;
}
@media screen and (max-width:1024px) {
  .CalculateAndOrderContent{
      height: 40vh;
      flex-wrap: wrap;
  }
}

