.service{
  display: flex;
  align-items: center;
  justify-content: start;
}
.service-checkbox{
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  border:1px solid black;
}
.service-text{
  margin-left: 25px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
.service-price{
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  text-decoration-line: underline;
  text-transform: uppercase;
}