.BenefitsElem{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 270px;
  background: rgba(255, 185, 5, 0.70);
  border-radius: 8px;
  flex-grow: 0;
}
.benefitsElem-title{
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  margin-top: 22px;
}