.benefits-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: no-repeat url(../../images/statistics.jpg) center/cover;
  width: 100vw;
  height: 100vh;
}
.benefits-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-style: italic;
  font-size: 5vw;
  margin-top: 11vh;
  background-color: #FFB905;
  width: 45vw;
  height: 11vh;
  border-radius: 19px;
}